# -------------------------------------------------------------------
# This file contains environment variables for local development only,
# it is loaded by docker-compose.yml.
#
# docker-build.sh creates the .env equivalent for docker deployment.
#
# ❗ This is supposed to be filtered out before merging into main
# ❗ Do not commit sensitive information like passwords or API keys
#
# The real secrets should be stored in render.com
# Projects -> Parrod_* -> Environment
# -------------------------------------------------------------------

###### Local Credentials #####

# Local development app credentials and connection settings
#
# PgAdmin (localhost:5050)
#   - Name: $POSTGRES_DB (below \/)
#   - Host: $POSTGRES_HOST
#   - Username: $POSTGRES_USER
#   - Password: $POSTGRES_PASSWORD
#
# RedisUI (localhost:5540)
#   - URL: redis://textielmakers_db:admin@redis:6379
#
# MinIO Console (localhost:9001)
#   - Name: $CLOUDFLARE_R2_ACCESS_KEY_ID
#   - Key: $CLOUDFLARE_R2_SECRET_ACCESS_KEY
#   - Bucket_Name: $CLOUDFLARE_R2_PRODUCT_IMAGE_BUCKET_NAME
#
##############################

######## Docker Creds ########

# Docker-compose specific environment variables
# Textielmakers_db (db)
POSTGRES_HOST=postgres
POSTGRES_PORT=5432
POSTGRES_DB=textielmakers_db
POSTGRES_USERNAME=admin@textielmakers.com
POSTGRES_PASSWORD=admin
POSTGRES_INTERNAL_URL=postgresql://$POSTGRES_USERNAME:$POSTGRES_PASSWORD@$POSTGRES_HOST:$POSTGRES_PORT/$POSTGRES_DB # Used by the django app

# PgAdmin
PGADMIN_EMAIL=admin@textielmakers.com
PGADMIN_PASSWORD=admin

# Redis
REDIS_USERNAME=textielmakers_db
REDIS_PASSWORD=admin
REDIS_PORT=6379
REDIS_INTERNAL_URL=redis://textielmakers_db:admin@redis:6379 # Used for redis-ui & django app

##############################

######## Django Creds ########

# Django setting variables for public and local development
DEBUG=True
SECRET_KEY='django-insecure-^%%@c$vc#fs3n@p9ugedpyv7*t)5mm4r!qu13mdy88+7ivcs50'
DJANGO_ALLOWED_HOSTS=localhost,127.0.0.1

##############################

# This secret is used to encrypt/decrypt API keys stored in the database (fake key, do not use in production)
# Generate new one using: python -c "from cryptography.fernet import Fernet; print(Fernet.generate_key().decode())"
GENERAL_ENCRYPTION_KEY="6fUt9DQAsRXBhMGHnBKhe4vrjm3_HwdYidbBZbK_VqA="

#### Third-Party API Keys ####

AWS_S3_ACCESS_KEY_ID="textielmakers"
AWS_S3_SECRET_ACCESS_KEY="textielmakers_pwd"
AWS_S3_ENDPOINT_URL="http://dynamic-image-buckets:9000"
AWS_S3_REGION_NAME="us-east-1"

# This is for the testing api. THESE SHOULD NEVER BE THE REAL KEYS IN PRODUCTION!

# QLS_COMPANY_ID="cld_1234567890abcdefg_COMPANYID"
# QLS_USERNAME="sk_test_1234567890abcdefg_USERNAME"
# QLS_PASSWORD="sk_test_1234567890abcdefg_PASSWORD"

# SHOPIFY_ACCESS_TOKEN="shpat_1234567890abcdefg_TOKEN"
# SHOPIFY_API_KEY="shpat_1234567890abcdefg_KEY"
# SHOPIFY_API_SECRET="shpss_1234567890abcdefg_SECRET"
# SHOPIFY_SHOP_ID="example.myshopify.com"

VELOYD_ACCESS_TOKEN="fcefbb9d-6118-4bd7-868b-1878bef16eba"

E_BOEKHOUDEN_API_KEY="test_1234567890abcdefg_EBOOKHOUDEN_API_KEY"
