{% extends "master.html" %}

{% load i18n %}
{% load static %}

{% block title %}{% trans "Users" %} | Textielmakers{% endblock title %}

{% block content %}

<div class="users">

<header class="users__header">
    <h1>{% trans "Users" %}</h1>
    <p>{% trans "Overview of all users." %}</p>
</header>

<form method="get" class="filters">

    {{ filter_form }}

    <div class="filter">
        {{ pagination_form.per_page }}
    </div>

    <div class="filter-actions">
        <button type="submit" class="button">
            {% trans "Filter" %}
        </button>

        <button
            type="button"
            class="button"
            onclick="window.location.href='{% querystring search=None level=None action=None user=None object_type=None object_id=None page=None %}'"
        >
            {% trans "Clear filters" %}
        </button>
    </div>

</form>

<div class="table-container">

    <table class="table">

        <thead>
            <tr>
                <th>{% trans "ID" %}</th>
                <th>{% trans "Name" %}</th>
                <th>{% trans "Role" %}</th>
                <th>{% trans "Email" %}</th>
            </tr>
        </thead>

        <tbody>

            {% for user in users %}

                <tr onclick="window.location.href='{% url 'users:user_details' user.id %}'" class="clickable-row">
                    <td>{{ user.id }}</td>
                    <td>{{ user.full_name }}</td>
                    <td>{{ user.role }}</td>
                    <td>{{ user.email|default:"—" }}</td>
                </tr>

            {% empty %}

                <tr>
                    <td colspan="6">
                        {% trans "No audit logs found." %}
                    </td>
                </tr>

            {% endfor %}

        </tbody>

    </table>

</div>

{% if is_paginated %}

    <nav
        class="pagination"
        aria-label="{% trans 'Audit log pagination' %}"
    >

        {% if page_obj.has_previous %}
            <a
                href="{% querystring page=page_obj.previous_page_number %}"
                class="button"
            >
                {% trans "Previous" %}
            </a>
        {% endif %}

        <span>
            {% blocktrans with current=page_obj.number total=page_obj.paginator.num_pages %}
                Page {{ current }} of {{ total }}
            {% endblocktrans %}
        </span>

        {% if page_obj.has_next %}
            <a
                href="{% querystring page=page_obj.next_page_number %}"
                class="button"
            >
                {% trans "Next" %}
            </a>
        {% endif %}

    </nav>

{% endif %}

</div>

{% endblock %}
